@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: calc(0.8rem + 0.2vw);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 

